.git
.gitignore
.env
.env.backup
.env.testing
!.env.example
!.env.docker.example
/vendor
/node_modules
/admin-i18n/node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
.idea
.DS_Store
npm-debug.log
yarn-error.log
composer.phar
yarn.lock
workerman.log
workerman.*.pid
public/hot
public/storage
public/clients/*
